body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.home, .projects, .experience, .skills, .contact {
    padding: 20px;
    text-align: center;
}

/* src/App.css */
.app {
    display: flex;
}

.content {
    margin-left: 250px; /* Sidebar width */
    padding: 20px;
    width: calc(100% - 250px);
    min-height: 100vh;
    background-color: #f4f4f9;
}
